#stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .container {
    width: 200px;
    height: 500px;
    border: 2px solid black;
    border-top: 0px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .entry {
      width: 200px;
      height: 100px;
      border: 2px solid black;
      transition: all 0.5s ease-in-out;

      &.pop {
        transform: translateX(300px);
        opacity: 0;
      }

      &.push {
        animation: push-animation 0.5s ease-in-out;
      }

      @keyframes push-animation {
        0% {
          transform: translateX(-300px);
          opacity: 0;
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  .input {
    min-width: 200px;
    height: 200px;
    font-size: 2rem;
    border: 2px solid black;
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    h1 {
      font-weight: bold;
      font-size: 2.5rem;
    }

    h2 {
      color: red;
    }
  }
}
