#tree {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #dadada;

  .node-base {
    stroke: black;
    stroke-width: 1px;
    fill: white;
    transition: all 0.2s;

    &:hover {
      stroke: #00dd00;
      stroke-width: 4px;
    }

    &.selected {
      stroke: #ff0000;
      stroke-width: 4px;
    }

    &.explored {
      stroke: #aaaaff;
      stroke-width: 4px;
    }

    &.visited {
      stroke: #0000ff;
      stroke-width: 4px;
    }
  }

  .node-path {
    stroke: #00dd00;
    stroke-width: 3px;
    transition: all 0.3s;

    &.visited {
      stroke: #0000ff;
      stroke-width: 4px;
    }
  }
}

.tree-taskbar {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  padding-left: 50px;

  button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;

    &#delete-node-btn {
      background-color: #ff0000;
      box-shadow: 0 0 5px #ff0000;

      &:hover {
        background-color: #aa0000;
        box-shadow: 0 0 5px #aa0000;
      }
    }

    &#change-value-btn {
      background-color: #00dd00;
      box-shadow: 0 0 5px #00dd00;

      &:hover {
        background-color: #00aa00;
        box-shadow: 0 0 5px #00aa00;
      }
    }
  }

  input#edit-node {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    background-color: white;
    color: black;
    font-size: 1rem;
    cursor: text;
    transition: 0.2s;
  }
}

#traversal-result {
  position: absolute;
  top: 50px;
  right: 100px;
  max-width: 40px;
  min-height: 30px;
  border: 3px solid #0000ff;
  color: #0000ff;
  padding: 10px;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  font: 700 2rem "Roboto";

  &::before {
    content: "Traversal Result:";
    font: 700 2rem "Roboto";
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    position: absolute;
    top: 100%;
    left: 0;
    color: #000000;
  }
}
